* {box-sizing: border-box;}
.slideshow-container {max-width: 1100px;
  position: relative;
  margin: auto;}
.slideshow-container img {width: 100%;}
.dot {height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;}
.active {background-color: #ccc;}
body {background-color: #fff;
  color: #2b2b2b;
  font-family: arial;
  font-size: 13px;}
#wrapper {background-color: #fff;
  width: 80%;
  margin: auto;}
.header {width: 100%;}
nav {background-color: #000;
  color: #fff;
  font-family: georgia;
  font-size: 20px;
  text-align: center;}
nav a {text-decoration: none;}
nav li {display: inline-block;
padding: 0.5em;}
nav a:active, nav a:link, nav a:visited {color: #fff;}
nav a:hover {color: #999;}
header {width: auto;}
h1 {color: #000;
  font-size: 25px;
  font-weight: bold;}
h2 {color: #000;
  font-size: 18px;
  font-weight: bold;}
footer {width: auto;}
ul {list-style-type: none;}
.catalog {display: inline-block;
  width: 225px;
  padding-bottom: 10px;
  margin: 10px;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  font-family: Arial;
  letter-spacing: -1px;}
legend { font-family: Arial;
           font-weight: bold; }
@media only screen and (max-width: 1024px) {
  body {margin: 0;}
  #wrapper {width: auto;}
  nav {width: auto;}
  nav li {display: inline-block;
    padding: 0.5em;}
  nav a {border-style: none;}
  h1 {font-size: 150%;}
  h2 {font-size: 130%;}
  p {font-size: 90%;}
  .catalog {font-size: 105%;}
}
@media only screen and (max-width: 768px) {
  figure {display: none;}
  body {margin: 0;}
  #wrapper {width: auto;}
  nav, nav li, nav ul {padding: 0;}
  nav li {display: block;}
  nav a {display: block;
    padding: 0.5em 0;}
  h1 {font-size: 120%;}
  h2 {font-size: 100%;}
  p {font-size: 90%;}
  .catalog {font-size: 105%;}
}
